
.board {
	width: 200px;
	height: 400px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	background-color: lightblue;

}

.board div {
	height: 20px;
	width: 20px;
}

.tetromino {
	background-color: pink;
}